
.she-message {
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    max-width: 800px;
}

.she-warning-text {
    text-align: center;
    color: yellow;
}

.she-icon {
    icon-size: 1.1em;
}

.she-top-box-layout {
    padding: 0px 40px 0px 20px;
}

.she-message-box {
    padding: 0em .4em 0em .4em;
}

.she-current-menu-mode {
    font-weight: bold;
    text-align: right;
}

.she-grid-box {
    padding: 0em .5em 0em 1.5em;
}

.she-btn-box {
    padding: 0em .5em 0em .5em;
}

.she-grid-table {
    padding: 0px 5px 0px 0px;
}

.she-grid-button {
    padding: 10px 15px 10px 15px;
    width: 90px;
    height: 95px;
}

.she-top-button {
    padding: 0px 15px 0px 15px;
    width: 90px;
    height: 90px;
}

.she-top-button:active {
    background-color: rgba(255,255,255,0.30);
}

.she-grid-button:active {
    background-color: rgba(255,255,255,0.30);
}

