
.msg-text {
    font-size: 16px;
    font-family: Monospace;
    color: #000000;
    background-color: rgba(220,220,210,0.80);
    border-radius: 5px;
    padding: .25em;
}

.title-text {
    font-size: 16px;
    font-family: Monospace;
    font-weight: bold;
    color: #000000;
    background-color: rgba(220,220,210,0.80);
    border-radius: 5px;
    padding: .25em;
}

.close-text {
    font-size: 16px;
    font-family: Monospace;
    font-weight: bold;
    color: #0B3C8C;
    background-color: rgba(220,220,210,0.80);
    border-radius: 5px;
    padding: .25em;
}
